<mat-toolbar>
    <mat-icon> work</mat-icon>
    <div class="header"> Skills </div>
</mat-toolbar>


<div class="container">
    <div class="row">

        <div class="col-sm-6 col-md-4 col-lg-4">
            <mat-card>
                <mat-toolbar>
                    <mat-icon>bookmark </mat-icon>
                    <div class="skill_header">Angular</div>
                </mat-toolbar>

                <circle-progress [percent]="80" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="3000" [subtitle]="'Angular'" [showTitle]=true [subtitleFontSize]="'14'"
                [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

                    <circle-progress [percent]="85" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'Material'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

            </mat-card>
        </div>

        <div class="col-sm-6 col-md-8 col-lg-8">
            <mat-card>
                <mat-toolbar>
                    <mat-icon>bookmark </mat-icon>
                    <div class="skill_header">Web Technology</div>
                </mat-toolbar>

                <circle-progress [percent]="95" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'HTML'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

                    <circle-progress [percent]="95" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'CSS/CSS3'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

                    <circle-progress [percent]="90" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'Bootstrap'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

                    <circle-progress [percent]="80" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'Javascript'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>


            </mat-card>

        </div>
    </div>

    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <mat-card>
                <mat-toolbar>
                    <mat-icon>bookmark </mat-icon>
                    <div class="skill_header">Backend & Database</div>
                </mat-toolbar>

                <circle-progress [percent]="80" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="3000" [subtitle]="'Node JS'" [showTitle]=true [subtitleFontSize]="'14'"
                [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

                    <circle-progress [percent]="75" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'Mongo DB'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

            </mat-card>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">
            <mat-card>
                <mat-toolbar>
                    <mat-icon>bookmark </mat-icon>
                    <div class="skill_header">Methodology</div>
                </mat-toolbar>

                <circle-progress [percent]="80" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'Agile'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

                    <circle-progress [percent]="80" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'Scrum'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

            </mat-card>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">
            <mat-card>
                <mat-toolbar>
                    <mat-icon>bookmark </mat-icon>
                    <div class="skill_header">Version Control</div>
                </mat-toolbar>

                <circle-progress [percent]="80" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'Git'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

                    <circle-progress [percent]="85" [radius]="55" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000" [subtitle]="'Git Lab'" [showTitle]=true [subtitleFontSize]="'14'"
                    [subtitleFontWeight]="'bold'" [subtitleColor]="'#660066'"></circle-progress>

            </mat-card>

        </div>

    </div>

</div>