
<section id="home" class="parallax-section">
    <div class="container">
         <div class="row">

              <div class="col-sm-12 col-md-6 col-sm-6">
                   <div class="home-img">
                    <img src="assets/profile1.jpeg">
                   </div>
                   
              </div>

              <div class="col-sm-12 col-md-6 col-sm-6">
                   <div class="home-thumb">
                        <div class="section-title">
                             <h2 class="wow" data-wow-delay="1s">Welcome to my Digital Resume</h2>
                             <h1 class=" fadeInUp" data-wow-delay="1s">Hello, I am <strong>Ashik Gowda HC</strong> currently based in Bangalore, Karnataka.</h1>
                             <p class=" fadeInUp" data-wow-delay="1s">
                              <ul class="experience_details">
                                <li>4+ years of Professional experience including 2+ Years of Angular</li>  
                                <li> knowledge of  Angular 10, Angular Material and web technologies, standards to deliver the best experiences across web and mobile devices including responsive Web UI  and Working knowledge of RESTful API’s.</li> 
                              <li>Good understanding of Model View Controller MVC, MVVM, and design patterns</li>
                              </ul>
                                
                        </div>
                   </div>
              </div>
         </div>
    </div>
</section>


<section id="service" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="bg-danger col-md-3 col-sm-6">
                    <div class="wow fadeInUp color-white service-thumb" data-wow-delay="0.8s">
                         <i class="fa fa-desktop "></i>
                              <h3>Responsive Design</h3>
                              <p class="color-white">Responsive web design is enabling
     automatic adaption to the screen, whether the content is viewed on a tablet, phone, television, or watch.</p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <div class="wow fadeInUp color-white service-thumb" data-wow-delay="1.2s">
                         <i class="fa fa-paper-plane"></i>
                              <h3>UI / UX</h3>
                              <p class="color-white">UX design is all about identifying and solving user problems; UI design is all about creating intuitive, aesthetically-pleasing, interactive interfaces.</p>
                    </div>
               </div>

               <div class="bg-secondary col-md-3 col-sm-6">
                    <div class="wow fadeInUp color-white service-thumb" data-wow-delay="1.6s">
                         <i class="fa fa-table "></i>
                              <h3>Digital Marketing</h3>
                              <p class="color-white">Digital marketing also called online marketing, is the promotion of brands to connect with potential customers using the internet and other forms of digital communication.</p>
                    </div>
               </div>

               <div class="bg-info col-md-3 col-sm-6">
                    <div class="wow fadeInUp service-thumb" data-wow-delay="1.8s">
                         <!-- <i class="fa fa-html5"></i> -->
                         <i class="fa fa-cog fa-spin"></i>
                              <h3>Coding</h3>
                              <p>Coding tells a machine which actions to perform and how to complete tasks. Programming languages provide the rules for building websites and computer-based technologies.</p>
                    </div>
               </div>

          </div>
     </div>
</section>
