<mat-toolbar>
    <mat-icon>perm_contact_calendar </mat-icon>
    <div class="header"> Contact </div>
</mat-toolbar>

<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 ">

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 ">
                        <mat-toolbar>
                            <mat-icon class="form_header_mat-icon">contacts </mat-icon>
                            <div class="form_header"> Contact us </div>
                        </mat-toolbar>
                    </div>
                </div>

                <form class="example-form">


                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 ">
                            <mat-form-field class="example-full-width">
                                <mat-label> First name</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 ">
                            <mat-form-field class="example-full-width">
                                <mat-label> Email</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 ">
                            <mat-form-field class="example-full-width">
                                <mat-label> Address</mat-label>
                                <textarea matInput></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 ">
                            <mat-form-field class="example-full-width">
                                <mat-label> Message</mat-label>
                                <textarea matInput></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <button mat-raised-button color="primary"> Submit</button>
                </form>


            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 ">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123918.09359067136!2d75.4823123188404!3d13.932361724230681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbba8d0ec620495%3A0x5589d733c2761a17!2sShivamogga%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1689684042626!5m2!1sen!2sin"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

</mat-card>


<mat-card class="footer">

    <div class="container_fluid">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <mat-icon>location_on</mat-icon><br>
                <mat-label class="footer_label"> Address :</mat-label>
                #63, Manjunatha Nilaya, Shanthamma layout, Shimoga

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <mat-icon>phone</mat-icon><br>
                <mat-label class="footer_label"> Phone :</mat-label>
                +91 -7795504437
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <mat-icon>telegram</mat-icon><br>
                <mat-label class="footer_label"> Email :</mat-label>
                ashik357@gmail.com
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <mat-icon>language</mat-icon><br>
                <mat-label class="footer_label"> Web :</mat-label>
                www.ashik_resume.com
            </div>
        </div>
    </div>
</mat-card>