
.mat-icon
{
color: rgb(173, 51, 51);
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.close_button
{
    display: flex;
    justify-content: center;
}

.close_button_icon
{
    color: white;
}