



<mat-toolbar>
    <mat-icon> work</mat-icon>
    <div class="header"> Organization  </div>
</mat-toolbar>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 ">
            <mat-card>
            <mat-toolbar>
                <mat-icon> bookmark</mat-icon>
                <div class="organization_header"> Mindtree </div>
            </mat-toolbar>
            <ngx-org-chart [nodes]="nodes" direction="vertical"></ngx-org-chart>
        </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 ">
        <mat-card>
            <mat-toolbar>
                <mat-icon> bookmark</mat-icon>
                <div class="organization_header_2"> ITATONEPOINT CONSULTiNG LLP </div>
            </mat-toolbar>
            <ngx-org-chart [nodes]="orgnodes" direction="vertical"></ngx-org-chart>
        </mat-card>
        </div>
    </div>

</div>