

.header
{
letter-spacing: 2px;
color: rgb(220,213,234);
text-transform: uppercase;
font-size: 24px;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: underline;
}

.mat-toolbar
{
    background: none;
}

.mat-icon
{
    margin-right: 10px;
    color: rgb(233, 75, 186);
}

.sub_header
{
text-transform: uppercase;
font-size: 20px;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub_header_1
{
text-transform: uppercase;
font-size: 20px;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.working_years
{
    display: flex;
    flex:1;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mat-expansion-panel-header-title
{
    color: black;
    text-transform: uppercase;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mat-expansion-panel-header-description
{
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.mat-accordion
{
    margin: 2px;
}
.mat-card-subtitle
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslateblue;
}
.mat-card
{
margin-top: 20px;

}

.project_details
{
    //background-color:#CAF1DE;
    background-color:#ACDDDE;
    font-size: 20px;
}

.expansion_panel_mat-icon
{
    color: darkcyan;
}

@media(max-width:800px)
{

 
.mat-expansion-panel-header-title
{
    color: black;
    text-transform: uppercase;
font-weight: bold;
font-size: 8px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
overflow: auto;
}

.mat-expansion-panel-header-description
{
    color: black;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
    
}

.sub_header_1
{
    font-size: 16px;
}
.working_years
{
    font-size: 16px;
}
}